.custom-tabs-container {
}
.custom-tabs {
    border-top-left-radius: 3px;
    /* background-color: orange; */
    /*padding: 0px 24px;*/
    padding-bottom: 5px;
    border-bottom: 1px solid #d6d6d6;
}

.custom-tab {
    color: gray;
    background-color: #222222 !important; /*#3d3d3d*/
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-top: 3px solid transparent !important;
    border-left: 0px !important;
    border-right: 0px !important;
    border-bottom: 0px !important;
    /*padding: 12px !important;*/
    font-family: "system-ui";
    /*display: flex !important;*/
    align-items: center;
    justify-content: center;
/*    padding-top: 10px;
    padding-bottom: 10px;*/
}

.custom-tab--selected {
    color: #00d0ff !important;
    background-color: #222222 !important;
    border-left: 1px solid #794bc4 !important;
    border-right: 1px solid #794bc4 !important;
    border-bottom: 1px solid #794bc4 !important;
    border-top: 3px solid #794bc4 !important;
}

.custom-tab:hover {
    color: lightgrey;
}
/*
.custom-dropdown {
    color: blue !important
    background-color: green !important
}

.custom-dropdown--selected {
    color: red !important
    background-color: yellow !important
}
*/
.filter-slider {
    margin-bottom: 0px !important;
}
